# The app hostname
APP_HOST=laradhoc.test

# The app name
APP_NAME="Laradhoc"

# Prefix for all container names. Don't use spaces.
CONTAINER_PREFIX=laradhoc

# Path of your codebase (without trailing slash)
APP_SRC=./src

# Set to 1 to enable HTTPS, 0 to run only over HTTP
NGINX_ENABLE_HTTPS=1

# Port on which Nginx is listening
NGINX_PORT_80=80

# Port on which Nginx is listening (HTTPS)
NGINX_PORT_443=443

# Specify which PHP version to use
#
# Supported values:
#   7.2
#   7.3
#   7.4
#
PHP_VERSION=7.4

# Specify a Docker image for your database (MySQL or MariaDB)
#
# Supported values:
#   mysql
#   mariadb
#
# You can specify a valid tag
#
# Please see https://hub.docker.com/_/mysql and https://hub.docker.com/_/mariadb
# for valid tags.
#
# Examples:
#   mysql
#   mariadb
#   mysql:8
#   mysql:latest
#   mariadb:10.3
#
DATABASE_IMAGE=mysql:latest

# MySQL / MariaDB PORT
MYSQL_PORT=3306

# Database name
MYSQL_DATABASE=laradhoc

# Database user
MYSQL_USER=user

# Database user password
MYSQL_PASSWORD=password

# Database root password
MYSQL_ROOT_PASSWORD=root

# Port on which phpMyAdmin is listening
PHPMYADMIN_PORT=8080

# Set to 1 to enable XDebug
ENABLE_XDEBUG=1

# Port on which MailHog replies (SMTP server for development purpose: https://github.com/mailhog/MailHog)
MAILHOG_PORT=8081
